{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 33, "knowledge_revision": 71, "git_revision": "66d4b08008301c5761bc8f07106937a0d8a5f1ff", "hash": "4b61427ddaa53bfd559755a9c0f65b1c", "format-version": 4, "code-base-name": "default", "filename": "task_manager_backend_workspace/task_manager_backend/requirements.txt", "revision_history": [{"71": "66d4b08008301c5761bc8f07106937a0d8a5f1ff"}]}